<button id="open-gate">
  <%= insert :'svg/gate-open-icon.svg' %>
</button>

<div id="gate-wrapper">
  <div id="gate-card" class="card">
    <div id="gate-visual">
      <%= insert :'svg/gate.svg' %>
    </div>

    <p id="gate-status">Fermé</p>
  </div>
</div>